In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
meta_data = pd.read_csv('data/movies_metadata.csv', low_memory=False)

In [4]:
meta_data.shape

(45466, 24)

In [5]:
meta_data.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

## Simple Recommender

In [6]:
## Mean of movie ratings
C = meta_data['vote_average'].mean()
print(C)

5.618207215134185

In [7]:
## Number of votes of the 90 percentile
m = meta_data['vote_count'].quantile(0.9)
print(m)

160.0

In [8]:
## Get movies with votes greater than the 90th percentile
q_movies = meta_data.copy().loc[meta_data['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [9]:
sys.path.append(os.getcwd() + '/../')

In [10]:
from source.movie_rec_functions import get_weighted_rating

In [13]:
q_movies['weighted_rating'] = get_weighted_rating(q_movies, m=m, C=C)

In [16]:
q_movies = q_movies.sort_values('weighted_rating', ascending = False)

In [17]:
## top 15 movies based on weighted rating in descending order
q_movies[['title', 'vote_count', 'vote_average', 'weighted_rating']].head(15)

,title,vote_count,vote_average,weighted_rating
314,The Shawshank Redemption,8358.0,8.5,8.445869
834,The Godfather,6024.0,8.5,8.425439
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.421453
12481,The Dark Knight,12269.0,8.3,8.265477
2843,Fight Club,9678.0,8.3,8.256385
292,Pulp Fiction,8670.0,8.3,8.251406
522,Schindler's List,4436.0,8.3,8.206639
23673,Whiplash,4376.0,8.3,8.205404
5481,Spirited Away,3968.0,8.3,8.196055
2211,Life Is Beautiful,3643.0,8.3,8.187171
1178,The Godfather: Part II,3418.0,8.3,8.180076
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.164256
351,Forrest Gump,8147.0,8.2,8.150272
1154,The Empire Strikes Back,5998.0,8.2,8.132919
1176,Psycho,2405.0,8.3,8.132715

## Content-Based Recommender